package common

templ Button(label string, class string) {
	<button type="submit" class={ "bg-white p-3 rounded-md border border-black border-solid hover:opacity-90" , class }>
		{ 
	label }
	</button>
}
