package common

templ Typography(variant string, label string, className string) {
	if variant == "header" {
		<h1 class={ "text-white font-sans text-x1" , className }>{ label }</h1>
	} else {
		<p class={ "text-black font-sans text-sm" , className }>{ label }</p>
	}
}
